@use'../custom' as *;
@use'../components/mixins' as *;

.footer {
    padding-top: 1rem;
    background-color: $footer;
}

//CONTACT BOX
.contact-box {
    position: relative;

    &__icon {
width: 2rem;
//stroke: $primary;
padding-top: 0.5rem;

@include media-breakpoint-up(sm) {
    width: 3rem;
}

    }

    &__info {
padding: 0.4rem;
font-weight: 600;


        &--title {
            color: $white;
            text-decoration: none;
            font-size: 1rem;

            @include media-breakpoint-up(sm) {
               
                font-size: 1.4rem;
            }

        }

        &--subtitle {
            color: $gray-600;
            text-decoration: none;
            font-size: 0.8rem;

            @include media-breakpoint-up(sm) {
               
                font-size: 1rem;
            }

        }
    }
}

//STYLE SOCIAL MEDIA FOOTER

.footer-sm {
    a {
        color: $white;
    
    i{
        font-size: 1rem;
        margin-left: 1.5rem;

        @include media-breakpoint-up(sm) {
               
            font-size: 1.7rem;
        }
    }}
}